@page
@model WebbLab3.AvailableMoviesModel

@{
    ViewData["Title"] = "AvailableMovies";
}

<head>
    <style>
        .sold-out-movie {
            color: #9f9493;
        }
    </style>
</head>

<h1>Movies</h1>
<a asp-page="./SeedDatabase">Seed Database</a>

<div>
    <form asp-page-handler="sortbyseatsleft" method="post">
        <button>Sort by seats left</button>
    </form>
    <form asp-page-handler="sortbystarttime" method="post">
        <button>Sort by start time</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].SeatsLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Salon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr class="@(@item.SeatsLeft <= 0 ? "sold-out-movie" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsLeft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon)
                </td>
                <td>
                    @if (item.SeatsLeft > 0)
                    {
                        <a asp-page="./PurchaseTicket" asp-route-id="@item.ID">Purchase Tickets</a>
                    }
                    else
                    {
                        <p>Sold out</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
